.btn-custom-primary {
  color: #fff;
  background-color: #654321;
  border-color: #654321;
}

.container-admin {
  margin-top: 150px;

  margin-bottom: 50px;
}

.table-container {
    overflow-x: auto;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}