/* Styling untuk berita-container-full */
.berita-container-full {
    text-align: center;
    background-image: url('../../../Assets/Image/kampung6.jpg');
    background-size: cover;
    padding: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Styling untuk berita-card-container */
.berita-card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling untuk berita-card */
.berita-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 350px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

/* Styling untuk gambar di dalam berita-card */
.berita-card img {
    max-width: 100%;
    height: auto;
}

/* Efek hover pada berita-card */
.berita-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

/* Styling untuk judul Berita Terbaru */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Styling untuk teks di dalam berita-card */
.berita-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.berita-card p {
    font-size: 14px;
    color: #666;
}

/* Styling untuk link di dalam berita-card */
.berita-link {
    text-decoration: none;
    color: inherit;
}

/* Styling untuk tombol "Next" dan "Previous" */
.berita-pagination-button {
    border: none;
    background-color: transparent;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
}

.berita-pagination-button:hover {
    background-color: #eee;
    color: #555;
}

.berita-pagination-button:disabled {
    color: #999;
    cursor: not-allowed;
}

/* Styling untuk modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* Menambahkan spasi di atas modal */
    width: 500px;
}

/* Styling untuk modal container */
.modal-container {
    max-width: 80%;
}

/* Styling untuk judul modal */
.modal-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Styling untuk gambar dalam modal */
.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Styling untuk isi teks dalam modal */
.modal-content p {
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

/* Styling untuk detail-box */
.detail-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    text-align: left;
}

/* Styling untuk judul detail berita */
.detail-box h3 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
}

