/* Home.css */

.home-container {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease;
  /* Animasi ketika dihover */
}

.hero-section:hover {
  transform: scale(1.05);
  /* Kartu membesar ketika dihover */
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: chocolate;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Animasi warna tombol */
}

.hero-button:hover {
  background-color: #d2691e;
  /* Warna tombol berubah saat dihover */
  color: #fff;
  /* Warna teks tombol tetap putih saat dihover */
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: chocolate;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  /* Animasi perubahan warna latar belakang saat dihover */
}

.home-button:hover {
  background-color: darkslategray;
  /* Ubah warna latar belakang saat dihover */
}

