/* Home.css */


.home-container {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../Assets/Image/kampung5.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
  /*ada navbar*/
}

.hero-section {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  color: #fff;
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease;
}

.hero-section:hover {
  transform: scale(1.05);
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: chocolate;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  background-color: #d2691e;
  color: #fff;
  transform: scale(1.05);
  /* Efek scaling saat digantungkan */
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: chocolate;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: darkslategray;
}

.divider {
  height: 2px;
  background-color: rgba(107, 62, 22, 0.3);
  /* margin: 30px 0; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
}

.container-rumah {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-top: 100px;
  height: 100vh;
}

.section-rumah {
  height: 100vh;
  scroll-snap-align: start;
}