/* Carousel.css */

.slider-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}


.slider {
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Untuk mengatur tombol di bawah teks */
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /* Set opasitas awal menjadi 0 */
    transition: opacity 0.5s ease-in-out;
}

.info-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.info-box h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 16px;
    color: #666;
}

.prev-button,
.next-button {
    position: absolute;
    bottom: 20px;
    /* Letakkan tombol di bawah */
    background-color: rgba(0, 0, 0, 0.3);
    /* Latar belakang transparan dengan sedikit kegelapan */
    border: none !important;
    padding: 6px 70px !important;
    /* Increase padding for larger buttons */
    border-radius: 10px !important;
    /* Increase border-radius for more rounded buttons */
    cursor: pointer !important;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out !important;
}

.prev-button::before,
.next-button::before {
    /* content: "\u25C0"; */
    /* Ikutkan simbol panah kiri (Previous) */
    font-size: 20px;
    color: #fff;
    /* Warna ikon */
}

.prev-button {
    left: 20px;
    /* Geser ke kiri */
}

.next-button {
    right: 20px;
    /* Geser ke kanan */
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Warna latar belakang saat dihover */
    transform: translateY(0) scale(1.1);
    /* Efek hover */
}

.detail-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8b4513;
    /* Warna coklat tua untuk nuansa vintage */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #8b4513;
    /* Garis tepi */
    border-radius: 25px;
    /* Border yang lebih bulat */
    font-size: 1.2rem;
    /* Ukuran teks yang lebih besar */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    /* Jarak dari teks deskripsi */
    cursor: pointer;
    /* Mengubah ikon kursor menjadi tangan saat menghover tombol */
}

.detail-button:hover {
    background-color: #cd853f;
    /* Warna coklat yang lebih terang saat dihover */
    color: #fff;
    transform: scale(1.05);
    /* Efek scaling saat digantungkan */
}